@use './colors';
@use './typography';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: colors.$blue-primary;
  font-family: typography.$family, sans-serif;
}

a  {
  text-decoration: none;
  color: inherit;
}

.max-width {
  max-width: 1600px;
  margin: 0 auto;
}
